<header id="main-header">
    <nav>
        <div class="left">
            Stack-Overflow
            
        </div>
        
            
            
       
        <div class="right">
            <div class="user-icon" style="display: flex;">
                <i class="fa-solid fa-circle-user" style=" color: rgb(0, 238, 255);"></i>
                <div class="drop-icon" style="margin-left: 0.8rem; ">
                    <i class="fa-solid fa-caret-down" style=" color: rgb(0, 238, 255); font-size: 2rem;"></i>
                </div>
               

            </div>
        </div>
    </nav>
    
    
    
</header>
<div class="dropdown-menu">
    <ul>
        
        
        <a href="/home">home</a>
            
        <a href="/my-question">view profile</a>
        
       
    </ul>

    <a href="/logout" class="logout-btn"><button>Log Out</button></a>
</div>
