<link rel="stylesheet" href="../public/nav.css">


<header id="main-header">
    <div class="left">
        Stack-Overflow
        <!-- <h2>Smith</h2>
        <h2>.CV</h2> -->
    </div>
    <div class="menu-btn"  >
        <i class="fa fa-bars" id="menu-btn" ></i>
        
        
    </div>
    <div class="mid" id="navbar">
        <ul class="midul">
            <li><a href="index.html">Home</a></li>
            <li ><a href="index.html" style=" color:rgb(69, 118, 223) ;">About</a></li>
            <li><a href="skill.html">Skills</a></li>
            <li><a href="projects.html">Projects</a></li>  
             
            <li><a href="education.html">Education</a></li>
            <!-- <li><a href="#portfolio">Portfolio</a></li> -->
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    
</header>