<div class="pop-container">
    <!-- hjkjhdsjhkkjhfkdhkjhkjshkjhd -->
    

</div>
<div class="popup">

    <h2>Post a Question</h2>
    <form action="/question" method="POST">
        <!-- <label for="title">Title:</label> -->
        <input type="text" id="title" name="title" placeholder="Enter your question" required>
        <!-- <label for="description">Description:</label> -->
        <textarea id="description" name="description" placeholder="Enter more details about your question" ></textarea>
        <button type="submit">Post Question</button>
    </form>
    
</div>

<button class="popup-btn"><i class="fa-regular fa-comment"></i></button>