<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected</title>
</head>
<body>
    <h2>Protected Page</h2>
   

    <p>View all Questions<a href="/questions">Signup here</a></p>
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Protected Page</title>
</head>
<body>
    <h2><%= message %></h2>
    <p>Welcome, <%= user %></p>
    <a href="/question">post question</a>
    <a href="/my-question">My questions</a>
    <a href="/logout">Logout</a>
</body>
</html>
